<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29672727711-s5iljqv7k7djvgo4p2jreeaj04olltd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29672727711-s5iljqv7k7djvgo4p2jreeaj04olltd3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>29672727711-2pkl7r1469pv20mljsb08q0q1904pu0l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAF-LVEZbzksZLUjwqsAWZKnHooKQOoQGI</string>
	<key>GCM_SENDER_ID</key>
	<string>29672727711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dukkantek.task.dukkantek</string>
	<key>PROJECT_ID</key>
	<string>dukkantek-84318</string>
	<key>STORAGE_BUCKET</key>
	<string>dukkantek-84318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29672727711:ios:56c876a0a88d7f357e2eaa</string>
</dict>
</plist>